<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/plantilla">
    <head>
        <title th:text="#{sitio.titulo}">Sitio</title>
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <div id="sitio" ng-app="sitioApp">
                    <div class="row">
                        <div class="col-xs-12">
                            <div>
                                <div class="ui-view"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="script" >
            <script th:src="@{/js/sitio.js}" src="../../resources/js/sitio.js"></script>
        </div>
    </body>
</html>
