<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/plantilla">
    <head>
        <title th:text="#{sitio.titulo}">Sitio</title>
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <div id="sitio" ng-app="sitioApp">

                    <div ng-controller="AlertaCtrl">
                        <alert ng-repeat="alerta in alertas" type="{{alerta.type}}" close="cerrarAlerta($index)">{{alerta.msg}}</alert>
                        <button class='btn btn-default' ng-click="alertaAdvertencia('Prueba')">Add Alert</button>

                        <div class="row">
                            <div class="col-xs-12">
                                <div>
                                    <div class="ui-view"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="script" >
            <script th:src="@{/js/sitio/app.js}" src="../../resources/js/sitio/app.js"></script>
            <script th:src="@{/js/sitio/service.js}" src="../../resources/js/sitio/service.js"></script>
            <script th:src="@{/js/sitio/controller.js}" src="../../resources/js/sitio/controller.js"></script>
            <script th:src="@{/js/alerta.js}" src="../../resources/js/alerta.js"></script>
        </div>
    </body>
</html>
