<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/plantilla">
    <head>
        <title th:text="#{orden_compra.titulo}">Orden Compra</title>
    </head>
    <body>
        <div class="container">
            <div th:fragment="content">
                <div class="row">
                    <h1 th:text="#{orden_compra.nuevo}">Nueva Orden de Compra</h1>
                    <form name="form" role="form" class="form-horizontal">
                        <div class="form-group">
                            <label for="factura" class="col-sm-2 control-label" th:text="#{orden_compra.factura}">Factura:</label>
                            <div class="col-sm-10 col-xs-12">
                                <input type="text" class="form-control" id="factura" th:placeholder="#{orden_compra.factura}" placeholder="Factura" ng-model="orden_compra.factura" autofocus="autofocus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fecha" class="col-sm-2 control-label" th:text="#{orden_compra.fecha}">Fecha:</label>
                            <div class="col-sm-10 col-xs-12">                              
                                <p class="input-group">
                                    <input type="text" class="form-control" id="fecha" placeholder="Fecha" datepicker-popup="dd-MM-yyyy" ng-model="orden_compra.fecha" is-open="opened" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="estado" class="col-sm-2 control-label" th:text="#{orden_compra.estado}">Estado:</label>
                            <div class="col-sm-10 col-xs-12">
                                <select id="estado" class="form-control" ng-model="orden_compra.estado" ng-options="estado for estado in estados"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Proveedor" class="col-sm-2 control-label" th:text="#{orden_compra.proveedor}">Proveedor:</label>
                             <div class="col-sm-10 col-xs-12">
                                <select class="form-control" id="articulo" ng-model="orden_compra.proveedor" ng-options="proveedor.nombre for proveedor in proveedores"></select>
                            </div>
                        </div>

                        <div class="btn-group btn-group-ms pull-right" role="group">
                            <button class="btn btn-primary" ng-click="createOrdenCompra()">
                                <span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;<span th:text="#{boton.aceptar}">Aceptar</span>
                            </button>
                            <button class="btn btn-default" ng-click="cancelar()">
                                <span class="glyphicon glyphicon-floppy-remove"></span>&nbsp;&nbsp;<span th:text="#{boton.cancelar}">Cancelar</span>
                            </button>
                        </div>
                    </form>
                </div>
                <br/>
                        <pre>{{orden_compra | json}}</pre>
            </div>
        </div>
    </body>
</html>