<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/plantilla">
    <head>
        <title>Prueba</title>
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <h1 th:text="#{home.welcome}">Bienvenido</h1>
                <p th:text="'Hola, ' + ${nombre} + '!'" >Hello, Herman</p>
                <br/>
                <p>
                    <a href="#" th:href="@{/welcome}" class="btn btn-large btn-success">Volver</a>
                </p>
            </div>
        </div>
    </body>
</html>