<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/plantilla">
    <head>
        <title th:text="#{inicio.titulo}">Sitio</title>
    </head>
    <body>
        <div class="container" >
            <div layout:fragment="content">
                <h1 th:text="#{inicio.titulo}">Bienvenido</h1>
                <p th:text="'Hello, ' + ${nombre} + '!'" >Hello, Herman</p>
                <br/>
                <label th:text="'Fecha: ' + ${#dates.format(fecha, 'dd/MMM/yyyy HH:mm')}" >Fecha: 25/nov/2014 10:25</label>
                <p>
                    <a href="#" th:href="@{/hello}" class="btn btn-large btn-success">Hello</a>
                    <a href="#" th:href="@{/admin/usuario}" class="btn btn-large btn-success">Usuario</a>
                </p>
            </div>
        </div>
    </body>
</html>