<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Paginación</title>
    </head>
    <body>
        <div class="container">
            <div th:fragment="content">
                <ul class="pager">
                    <li ng-class="{disabled: noPrevious(), previous: align}"><a ng-click="selectPage(page - 1)" th:text="#{boton.anterior}"></a></li>
                    <li ng-class="{disabled: noNext(), next: align}"><a ng-click="selectPage(page + 1)" th:text="#{boton.siguiente}"></a></li>
                </ul>
            </div>
        </div>
    </body>
</html>