<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/plantilla">
    <head>
        <title th:text="#{perfil.titulo}">Perfil</title>
    </head>
    <body>
        <div class="container">
            <div layout:fragment="content">
                <div id="perfil" ng-app="perfilApp">

                    <div ng-controller="AlertaCtrl">
                        <alert ng-repeat="alerta in alertas" type="{{alerta.type}}" close="cerrarAlerta($index)">{{alerta.msg}}</alert>
                        <div class="row" ng-controller="PerfilCtrl">
                            <alert ng-show="alertaGuardado" type="success" close="alertaGuardado = false" th:text="#{usuario.alerta.guardado}">Se guardó correctamente el usuario</alert>
                            <h1 th:text="#{perfil.titulo}">Perfil</h1>
                            <form name="form" role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label for="identificacion" class="col-sm-2 control-label" th:text="#{usuario.identificacion}">Identificación</label>
                                    <div class="col-sm-10 col-xs-12">
                                        <input type="text" class="form-control" id="identificacion" th:placeholder="#{usuario.identificacion}" placeholder="Identificación" ng-model="usuario.identificacion" autofocus="autofocus"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nombre" class="col-sm-2 control-label" th:text="#{usuario.nombre}">Nombre</label>
                                    <div class="col-sm-10 col-xs-12">
                                        <input type="text" class="form-control" id="nombre" th:placeholder="#{usuario.nombre}" placeholder="Nombre" ng-model="usuario.nombre"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="primer_apellido" class="col-sm-2 control-label" th:text="#{usuario.primer_apellido}">Primer Apellido</label>
                                    <div class="col-sm-10 col-xs-12">
                                        <input type="text" class="form-control" id="primer_apellido" th:placeholder="#{usuario.primer_apellido}" placeholder="Primer Apellido" ng-model="usuario.primerApellido"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="segundo_apellido" class="col-sm-2 control-label" th:text="#{usuario.segundo_apellido}">Segundo Apellido</label>
                                    <div class="col-sm-10 col-xs-12">
                                        <input type="text" class="form-control" id="segundo_apellido" th:placeholder="#{usuario.segundo_apellido}" placeholder="Segundo Apellido" ng-model="usuario.segundoApellido"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="puesto" class="col-sm-2 control-label" th:text="#{usuario.puesto}">Puesto</label>
                                    <div class="col-sm-10 col-xs-12">
                                        <input type="text" class="form-control" id="puesto" th:placeholder="#{usuario.puesto}" placeholder="Puesto" ng-model="usuario.puesto"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="usuario" class="col-sm-2 control-label" th:text="#{usuario.usuario}">Usuario</label>
                                    <div class="col-sm-10 col-xs-12">
                                        <input type="text" class="form-control" id="usuario" th:placeholder="#{usuario.usuario}" placeholder="Usuario" ng-model="usuario.usuario"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="clave" class="col-sm-2 control-label" th:text="#{usuario.clave}">Clave</label>
                                    <div class="col-sm-10 col-xs-12">
                                        <span class="form-control" ng-hide="cambio" ng-dblclick="cambioClave()" th:text="#{usuario.cambio_clave}">Doble click para cambiar la clave</span>
                                        <input type="password" class="form-control" id="clave" th:placeholder="#{usuario.clave}" placeholder="Clave" ng-model="usuario.clave" ng-show="cambio"/>
                                    </div>
                                </div>

                                <fieldset>
                                    <legend th:text="#{usuario.correos}">Correos</legend>
                                    <button class="btn btn-success btn-sm" ng-click="createCorreo()">
                                        <span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;<span th:text="#{boton.nuevo}">Nuevo</span>
                                    </button>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th th:text="#{usuario.correo}">Correo</th>
                                                    <th th:text="#{etiqueta.tipo}">Tipo</th>
                                                    <th th:text="#{etiqueta.accion}">Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="correo in usuario.correos">
                                                    <td><input type="email" class="form-control" id="correo_correo" th:placeholder="#{usuario.correo}" placeholder="Correo" ng-model="correo.correo"/></td>
                                                    <td><select id="correo_tipo" class="form-control" ng-model="correo.tipo" ng-options="tipo for tipo in tiposCorreo"></select></td>
                                                    <td>
                                                        <button class="btn btn-danger btn-sm" ng-click="deleteCorreo(correo)">
                                                            <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;<span th:text="#{boton.borrar}">Borrar</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <legend th:text="#{usuario.telefonos}">Teléfonos</legend>
                                    <button class="btn btn-success btn-sm" ng-click="createTelefono()">
                                        <span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;<span th:text="#{boton.nuevo}">Nuevo</span>
                                    </button>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th th:text="#{usuario.telefono}">Teléfono</th>
                                                    <th th:text="#{usuario.extension}">Extensión</th>
                                                    <th th:text="#{etiqueta.tipo}">Tipo</th>
                                                    <th th:text="#{etiqueta.accion}">Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="telefono in usuario.telefonos">
                                                    <td><input type="number" class="form-control" id="telefono_telefono" th:placeholder="#{usuario.telefono}" placeholder="Teléfono" ng-model="telefono.telefono"/></td>
                                                    <td><input type="number" class="form-control" id="telefono_extension" th:placeholder="#{usuario.extension}" placeholder="Extensión" ng-model="telefono.extension"/></td>
                                                    <td><select id="telefono_tipo" class="form-control" ng-model="telefono.tipo" ng-options="tipo for tipo in tiposTelefono"></select></td>
                                                    <td>
                                                        <button class="btn btn-danger btn-sm" ng-click="deleteTelefono(telefono)">
                                                            <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;<span th:text="#{boton.borrar}">Borrar</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>

                                <div class="btn-group btn-group-ms pull-right" role="group">
                                    <button class="btn btn-primary" ng-click="updateUsuario()">
                                        <span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;&nbsp;<span th:text="#{boton.aceptar}">Aceptar</span>
                                    </button>
                                    <a href="#" th:href="@{/welcome}" class="btn btn-default">
                                        <span class="glyphicon glyphicon-floppy-remove"></span>&nbsp;&nbsp;<span th:text="#{boton.cancelar}">Cancelar</span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout:fragment="script" >
            <script th:src="@{/js/perfil/app.js}" src="../../resources/js/perfil/app.js"></script>
            <script th:src="@{/webjars/cryptojs/3.1.2/rollups/sha256.js}" src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script>
            <script th:src="@{/js/usuario/service.js}" src="../../resources/js/usuario/service.js"></script>
            <script th:src="@{/js/telefono/service.js}" src="../../resources/js/telefono/service.js"></script>
            <script th:src="@{/js/correo/service.js}" src="../../resources/js/correo/service.js"></script>
            <script th:src="@{/js/perfil/controller.js}" src="../../resources/js/perfil/controller.js"></script>
            <script th:src="@{/js/alerta.js}" src="../../resources/js/alerta.js"></script>
        </div>
    </body>
</html>
